
a{
    display: flex;
    text-decoration: none;
    font-size: larger;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);

    position: static;
    left: 60px;
}
header{
    font-family:'Times New Roman', Times, serif;
}

.article{
    position:relative;
    width: 600px;
    height: 460px;
    border-radius: 8px;
    padding: 20px;
    margin:auto
}
.article_text :hover{
    padding: 8px 12px;
    background-color: rgb(28, 151, 45);
    border-radius: 4px;
}
article{
    width:100%;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 1;

}
article::after{
    width:100%;
    height: 100%;
    content: "";
    background: url("독도4.jpg");
    position: absolute;
    top: 0%;
    left: 0%;
    background: cover;
    z-index: -1;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
}
